{%extends "main.html"%} {%block content%}

<div class="container-fluid p-0 m-0">
    <div class="row col-12 p-0 m-0">
        <div class="col-md-12 intro_block bg_white p-0">
            <h2 class="gray bg_gray col-12 mb-5 p-5 text-center p-0">
                Thanks for visit</h2>
            <div class="p-5 m-5 text-center">Thank You Thank You Thank You
                Thank You Thank You Thank You Thank You Thank You Thank
                You Thank You Thank You Thank You</div>
        </div>
    </div>
</div>
{%endblock%}