{%extends "main.html"%} {%block content%}

<div class="container-fluid p-0 m-0">
    <div class="row col-12 p-0 m-0">
        <div class="col-12 white bg_facebook text-center p-2">
        </div>

        <h2 class="gray bg_gray col-12 mb-5 p-5 text-center p-0">Change password</h2>
        <form class="col-md-6 offset-md-3" action="{{request.path}}?next={{next}}" enctype="application/x-www-form-urlencoded" method="post">
            {%if change_password_form.non_field_errors%}
            <div class="alert alert-danger" role="alert">
                {{ change_password_form.non_field_errors }}</div>
            {%endif%}
            <input type="text" placeholder="Your Email" name="username" class="form-control br_gray gray text-center text-md-left" value="{%if change_password_form.username.value%}{{ change_password_form.username.value }}{%endif%}"> {%if change_password_form.username.errors%}
            <div class="alert alert-danger" role="alert">
                {{change_password_form.username.errors }}
            </div>
            {%endif%}

            <input type="password" placeholder="Your old password" value="{%if change_password_form.old_password.value%}{{ change_password_form.old_password.value }}{%endif%}" name="old_password" class="form-control mt-3 br_gray gray text-center text-md-left">            {%if change_password_form.old_password.errors%}
            <div class="alert alert-danger" role="alert">
                {{change_password_form.old_password.errors }}
            </div>
            {%endif%}

            <input type="password" placeholder="Your new password" value="{%if change_password_form.new_password1.value%}{{ change_password_form.new_password1.value }}{%endif%}" name="new_password1" class="form-control mt-3 br_gray gray text-center text-md-left">            {%if change_password_form.new_password1.errors%}
            <div class="alert alert-danger" role="alert">
                {{change_password_form.new_password1.errors }}
            </div>
            {%endif%}

            <input type="password" placeholder="Confirm new password" value="{%if change_password_form.new_password2.value%}{{ change_password_form.new_password2.value }}{%endif%}" name="new_password2" class="form-control mt-3 br_gray gray text-center text-md-left">            {%if change_password_form.new_password2.errors%}
            <div class="alert alert-danger" role="alert">
                {{change_password_form.new_password2.errors }}
            </div>
            {%endif%}

            <input type="submit" value="Change Password" class="form-control mt-3 white bg_facebook b_rad_30">
            <div class="col-12 text-center">
                <hr class="border" />
                <div class="or_place_holder gray bg_white font-weight-bold"></div>
            </div>

            {% csrf_token %}
        </form>
        <div class="row ">
            <div class="col-12 text-center mt-4 mb-4">
            </div>
        </div>
    </div>
</div>
{%endblock%}